<% include ../partials/header %>

<div class="container">
  <h1 style="text-align: center; margin: 20px">Add New Comment to <%= campground.name %></h1>
  <div class="row">
    <div style="width: 30%; margin: 25px auto">
      <form class="" action="/campgrounds/<%=campground._id%>/comments" method="post">
        <div class="form-group">
          <input id="campName" class="form-control" type="text" name="comment[text]" placeholder="text">
        </div>

        <!--
        <% if (!currentUser.displayName) { %>
          <div class="form-group">
            <input id="imageURL" class="form-control" type="text" name="comment[username]" placeholder="author">
          </div>
        <% } %>
         -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit!</button>
      </form>

      <a href="/campgrounds">Go Back</a>
    </div>

  </div>

</div>



<% include ../partials/footer %>
