<%- include partials/header %>

<div class="container mt-5">
  <h1>Reset Password</h1>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <form action="/forgot" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" autofocus name="email">
            </div>
            <button type="submit" class="btn btn-dark">Reset</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer %>
